.project
vendor
./fake-app/vendor/willy68/fake-module
./fake-module/vendor
composer.lock
.phpunit.result.cache
tests/html

# IDEs and editors
.idea
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.editorconfig
*.code-workspace

# IDE - VSCode
.vscode/*

# System Files
.DS_Store
Thumbs.db

/fake-module/vendor/
/fake-app/vendor/willy68/fake-module/
